**/*.DS_Store
**/*.pyc
**/.idea/*
**/.vscode/*
**/*.ini
**/*.p
**/*.log
**/*.pyomo.*
**/*.glpk.*

**/__pycache__/*

build/*
dist/*

data/*
!data/idf

energyplus/*

results/valuation/report/**
results/valuation/report/images/*.png
results/valuation/csv/*.csv
results/valuation/plots/*.png
results/btm_cost_savings/report/*html
results/btm_cost_savings/report/images/*.png
results/btm_cost_savings/csv/*.csv
results/btm_cost_savings/plots/*.png
results/btm_cost_savings/report/**
results/btm/*

es_gui/resources/docs/sphinx/build/*
es_gui/tools/valuation/docs/*

QuESt.egg-info/*