**/*.DS_Store
**/*.pyc
**/.idea/*
**/.vscode/*
**/*.ini
**/*.p
**/*.log
**/*.pyomo.*
**/*.glpk.*

**/__pycache__/*

build/*
dist/*

data/*

results/valuation/report/*.html
results/valuation/report/images/*.png
results/valuation/csv/*.csv
results/valuation/plots/*.png
results/btm/report/*html
results/btm/report/images/*.png
results/btm/csv/*.csv
results/btm/plots/*.png

es_gui/resources/docs/sphinx/build/*
es_gui/tools/valuation/docs/*

QuESt.egg-info/*