PySide6==6.5.2
pandas==2.2.1
streamlit==1.32.0
openai==1.86.0
configparser==6.0.1
matplotlib==3.8.3
geopandas==0.14.3
psutil==5.9.0
GitPython==3.1.43
git+https://github.com/cancom84/NodeGraphQt-PySide6.git
