**/*.DS_Store
**/*.pyc
**/.idea/*
**/.vscode/*
**/*.ini
**/*.p
**/*.log
**/*.pyomo.*
**/*.glpk.*

**/__pycache__/*

build/*
dist/*

data/*
!data/idf

results/btm_cost_savings/report/*html
results/btm_cost_savings/csv/*.csv
results/btm_cost_savings/plots/*.png
results/btm_cost_savings/report/**
results/btm/*

es_gui/resources/docs/sphinx/build/*

QuESt.egg-info/*